
.ipynb_checkpoints/gaussian_wavepackets-checkpoint.ipynb
.ipynb_checkpoints/heisenberg_EOM-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.pyc
Tutorials/.ipynb_checkpoints/normalization_examples-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/operators_examples-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/PIB_example-checkpoint.ipynb
Tutorials/.ipynb_checkpoints/spherical_harmonics-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/derivative_notation-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/general_normalized-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/kronecker_delta-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/ladder_operators-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/laguerre_and_associated_laguerre_polynomials-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/legendre_spherical-checkpoint.ipynb
Unfinished/.ipynb_checkpoints/Playing_Around_With_Commutator_Functions-checkpoint.ipynb
Problem Sets/.ipynb_checkpoints/problem_set_1-checkpoint.ipynb
